@import url(base.scss);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/design1.png") 50% 54px/600px no-repeat, url("../img/prinada-bg1.jpg") 0 0/100% 100% no-repeat;
}

[class*=__container] {
  max-width: 76.875rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

[class*=__title] {
  font-weight: 900;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* ---------- Header ---------- */
.header {
  background-color: #181818;
}

.nav {
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 3.75rem;
  min-height: 3.75rem;
}

.logo {
  font-family: "Lobster", cursive;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.25rem;
  left: 0.9375rem;
  text-align: end;
}
.logo__img {
  width: 1.875rem;
  height: 1.875rem;
}

.menu__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.nav__btn {
  padding: 0.25rem 1rem;
  border: 1px solid #fefefe;
  border-radius: 24px;
}

/* ---------- Header ---------- */
/* ---------- Main ---------- */
/* -------  ------- */
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20.625rem;
  background: url("../img/header-bg-img.jpeg") 0/100% auto no-repeat;
}

.title {
  font-size: 2.375rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

/* -------  ------- */
/* -------  ------- */
.snack {
  padding: 6.25rem 0;
}

.tabs__content-items {
  display: grid;
  gap: 3.75rem;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.snack__img {
  min-width: 25rem;
  min-height: 21.875rem;
}

table {
  border-top: 1px solid #616161;
  margin-top: 1.25rem;
}
table tbody {
  letter-spacing: 1px;
}
table tbody td {
  padding: 0.625rem 0;
  border-bottom: 1px solid #616161;
}
table tbody td:nth-child(2),
table tbody td:last-child {
  width: 5.375rem;
  text-align: center;
}

/* -------  ------- */
/* ---------- Main ---------- */
/* ---------- Footer ---------- */
.footer {
  background: url("../img/prinada-bg2.jpg") 0/100% auto no-repeat;
}
.footer__inner {
  padding-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__info,
.working__hours {
  padding: 40px 0;
}

.contact__info {
  width: 11.25rem;
}

.footer__logo {
  height: 12.5rem;
  max-width: 12.5rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #181818;
  min-height: 3.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ---------- Footer ---------- */